p{
	font-weight: bolder;
    font-family: "youyuan";
}

/*styles of the grade input (get it by lable)*/
input{
	border-radius: 10px;
	width: 150px;
}

div{
	border-width: 1px;
	border-style: solid;
	border-color: #FFEEDD;
	border-radius: 10px;
}

span{
	cursor: pointer;
}
/*styles of the grade title*/
.title{
	padding-left: 28%;
    padding-top: 50px;
    border-width: 0px;
}


/*medium size for words*/
.medium{
	font-size:32px;
    letter-spacing: 3px;
    line-height: 60px;
}

.row{
	border-width: 0px;
}

/*different numbers into different appearance*/
.num2{
	background-color: #F5FFE8;
}
.num4{
	background-color: #FFECF5;
}
.num8{
	background-color: #ECFFFF;
}
.num16{
	background-color: #F1E1FF;
}
.num32{
	background-color: #FFE4CA;
}
.num64{
	background-color: #FFD2D2;
}
.num128{
	background-color: #D7FFEE;
}
.num256{
	background-color: #D2E9FF;
} 
.num512{
	background-color: #FFD9EC;
}
.num1024{
	background-color: #FFB5B5;
}
.num2048{
	background-color: #CECEFF;
}

/*auxiliary functions*/
.func{
	line-height: 60px;
	margin-left: 20%;
	font-size: 28px;
	letter-spacing: 2px;
	border-width: 0px;
}

.start{
	font-family: Calibri;
	font-size:20px;
	position: absolute;
	z-index: 999;
	margin-top:260px;
	margin-left: 18%; 
	width: 20%;
	line-height: 70px;
	border-width: 0px;
}

.startBT{
    width: -webkit-fill-available; /*chrome*/
    width: -moz-available;         /*Firefox*/
    display: inline-block;
    background-image: linear-gradient(#f5c153, #ea920d);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 38px;
    box-shadow: 0 1px white inset;
    text-align: center;
    text-shadow: 0 1px 1px black;
    color:white;
    font-weight: bold;

}
.startBT:active{
    box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
    border-color: rgba(0,0,0,.3);
    background: coral;
}

.ruleText{
	font-size: 20px;

}
/*main part of the game*/ 
#main{
	margin-top: 40px;
	margin-bottom: 10px;
	border-width: 3px;
	border-radius: 15px;
	margin-left:20%;
	width:60%;
	font-size: 50px;
	text-align: center;
	background-color: #FFFFF0;
	line-height: 145px;
	cursor: pointer;
} 
#myModal{
	padding-top: 120px;
	border-width: 0px;
}

#time{
	width: 42%;
}
